a {
    color: #2f5687;
    color: rgb(220, 220, 220);
    transition: text-decoration 0, 5s ease-in;
}

a:hover {
    text-decoration: underline;
}

#navigation  {
    font-size: 35px;
}

.osnov, nav {
    font-size: 14px;
}

header {
    font-size: 30px;
    height: 150px;
}

#header-container h1 {
    font-family: Courier, monospace;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
}


#navigation .col-md-4 {
    font-size: 35px;
}

#topnav ul li {
    font-size: 40px;
}

#topnav nav ul {
    list-style: none;
}

body {
    font-family: Courier, monospace;
    font-size: 14px;
    color: rgb(#FFF);
    background-color: #9DE0D7;
    font-weight: bold;
}


header, #navigation, footer {
    background-color: #2f5687;
    border-width: thick;
    border-style: double;
    border-color: white;
    border-image: initial;
}

#menu {
    background-color: #2f5687;
    border-width: thick;
    border-style: double;
    border-color: white;
    border-image: initial;
}

.wrapper{
    height: 100%;
    width: 100%;
    padding: 50px;
}

.form-text{
    margin-top: 15px;
}
.popup-submit{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 rgb(39, 61, 42);
    transition: background-color 0.5s ease 0s;
    background-color: rgb(86, 202, 92);
    margin-top: 10px;
}
.popup-overlay{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(175, 222, 255);
    z-index: 100;
}
.popWindow{
    display: none;
    margin: auto;
    max-width: 70%;
    padding-bottom: 20px;
    margin-top: 20px;
    left:50%;
    box-shadow: 0 0 30px rgb(47, 86, 135);
    background-color: rgb(157, 224, 215);
    border-radius: 5px;
}
.popWindow h2{
    color: black;
    font-size: 30px;
    text-align: center;
    z-index: 10;
    position: relative;
}
.close-btn{
    float:right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(34, 34, 34);
    padding: 10px;
}
.thank-you-window{
    display: none;
    height: 100px;
    width: 400px;
    padding-bottom: 5px;
    text-align: center;
    align-items: center;
    margin-top: 0px;
    box-shadow: 0 0 30px rgba(18, 70, 25, 0.986);
    background-color: rgb(140, 240, 47);
    position:absolute;
}
.thank-you-message{
    font-size: 25px;
    color: #fff;
}
@media screen and (min-width: 700px) and (orientation: landscape) {
    .btnf{
        padding-left: 120px;
    }
    .form_button{
        width: 40%;
    }
}